@use 'custom';

//Import Components
@use 'components/animations';
@use 'components/buttons';
@use 'components/mixins';
@use 'components/typography';

//Import Sections
@use 'sections/navbar';
@use 'sections/home';
@use 'sections/browse';
@use 'sections/testimonials';
@use 'sections/faq';
@use 'sections/contact';
@use 'sections/footer';
