@use '../custom' as *;
@use '../components/mixins' as *;

.intro-section {
    //@include gradient;
    background-color: $white;
    padding: 10rem 0 0 0;
    width: 100%;
    height: 100%;

}

.card {
    .card-header{
    padding: 4rem;

    &--pink{
     background-color: $pink-pastel;
    }

    &--yellow{
        background-color: $yellow-pastel;
    }
    
    &--purple{
        background-color: $purple-pastel;
    }

    }
}

.border-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 6rem;
    height: 6rem;
    border: 0.55rem solid $white;
    border-radius: 50%;
    animation: pulseBorder 1.5s linear infinite;

    &--border1 {
        animation: 1s;
    }

    &--border2 {
        animation-delay: 1.5s;
    }
}
