@use '../custom' as *;
@use '../components/mixins' as *;

.home{
    //@include gradient;
    background-color: $white;
    padding: 10rem 0 0 0;
    width: 100%;
    height: 100%;

}

.card {
    &--pink{
    position: relative;
    margin: 2rem;
    border: 0.15rem solid $pink-pastel;
    border-radius: 2%;

        .card-header{
            background-color: rgba($pink-pastel, 0.1);
            padding: 0.5rem 0 0.5rem 1rem;
            font-weight: 600;
            color: $brown-dark;

            .card-body{
                background-color: transparent;
            }
        }
    }

    &--yellow{
        position: relative;
        margin: 2rem;
        border: 0.15rem solid $yellow-pastel;
        border-radius: 2%;
    
            .card-header{
                background-color: rgba($yellow-pastel, 0.1);
                padding: 0.5rem 0 0.5rem 1rem;
                font-weight: 600;
                color: $brown-dark;

                .card-body{
                    background-color: transparent;
                }
            }
        }

    &--purple{
    position: relative;
    margin: 2rem;
    border: 0.15rem solid $purple-pastel;
    border-radius: 2%;

        .card-header{
            background-color: rgba($purple-pastel, 0.1);
            padding: 0.5rem 0 0.5rem 1rem;
            font-weight: 600;
            color: $brown-dark;

            .card-body{
                background-color: transparent;
            }
        }
    }        
}

.border-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 6rem;
    height: 6rem;
    border: 0.55rem solid $white;
    border-radius: 50%;
    animation: pulseBorder 1.5s linear infinite;

    &--border1 {
        animation: 1s;
    }

    &--border2 {
        animation-delay: 1.5s;
    }
}
