@use '../custom' as *;
@use '../components/mixins' as *;

.menu {
    background: $primary;
    opacity: 1;
    
    li {
        padding: 0.7rem 0.7rem 0.7rem 0;
        display: inline-block;
        a {
            color: $brown-dark !important;
            text-transform: uppercase;
            font-weight: 600;
            &:active {
                color: $secondary!important;
            }
            &:hover {
                color: $secondary !important;
            }

        }
    }
}