@use '../custom' as *;

.display-2{
    color: $brown-dark;
    font-family: 'Montserrat', sans-serif;

    &--intro {
        font-weight: 700;
        font-size: 4rem;
    }

    &--description {
        font-weight: 400;
        font-size: 2rem;
    }
}

.header-line::before{
    content: "";
    width: 50rem;
    height: 0.35rem;
    display: block;
    margin: 1rem auto;
    background-color: $brown-dark;
}
.header-line::after{
    content: "";
    width: 40rem;
    height: 0.2rem;
    margin: 0.1rem auto;
    margin-bottom: 2rem;
    display: block;
    background-color: $brown-dark;
}